/* index.css */

.component2-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    text-align: center;
    color: #cffafe; 
    position: relative; 
  }
  
  .component2-container2 {
    background-color: #007bff;
    padding: 20px; 
}
  
  .logo {
    width: 100px;
    height: auto;
    margin: 10px;
  }
  
  .component2-container h1 {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .component2-container2 h2 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  